<ion-content [fullscreen]="true" class="ion-padding">

  <ion-row class="ion-justify-content-center">
    <ion-col size="6">

      <ion-item>
        <ion-input type="email" label="E-mail" [(ngModel)]="credenciais.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" label="Senha" [(ngModel)]="credenciais.password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-button expand="block" (click)="loginUsuario()">Entrar</ion-button>
      </ion-item>

      <div *ngIf="mensagem" class="ion-text-center ion-margin-top">
        <ion-text color="danger">{{ mensagem }}</ion-text>
      </div>

      <ion-button fill="clear" (click)="irParaCadastro()">
        Não tem cadastro? Cadastre-se
      </ion-button>

    </ion-col>
  </ion-row>

</ion-content>
