<ion-content [fullscreen]="true">

  <ion-row class="ion-justify-content-center ion-align-items-center" style="padding: 20px;">

    <ion-col size="12" size-md="8" size-lg="6">

      <!-- Título -->
      <div class="form-header">
        <h2>Login</h2>
      </div>

      <div class="form-container">
        <!-- E-mail -->
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input type="email" [(ngModel)]="usuario.email"></ion-input>
        </ion-item>

        <!-- Senha -->
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" [(ngModel)]="usuario.password"></ion-input>
        </ion-item>

        <!-- Botão Entrar -->
        <ion-item>
          <ion-button expand="full" color="primary" (click)="irParaPerfil()">
            Entrar
          </ion-button>
        </ion-item>

        <!-- Link para cadastro -->
        <ion-item lines="none" class="ion-justify-content-center" style="margin-top: 10px;">
            <ion-button expand="block" color="medium" (click)="irParaCadastro()">
                Não tem conta? Cadastrar-se
            </ion-button>
        </ion-item>
      </div>

    </ion-col>

  </ion-row>

</ion-content>
