<ion-header>
    <ion-toolbar>
        <ion-title >Pagina Nal do Canal</ion-title>
    </ion-toolbar>
</ion-header>  

<ion-content [fullscreen]="true">
    <h1>Qual é o pikemon que Nal quer pegar?</h1>
    <ion-row>
        <ion-col size="6">
            <ion-card>
                <ion-item>
                    <ion-label>Pikemon</ion-label>
                </ion-item>
                <ion-button color="primary">Pikachu</ion-button>
            </ion-card>
        </ion-col>

        <ion-col size="6">
            <ion-card>
                <ion-item>
                    <ion-label>Pikemon</ion-label>
                </ion-item>
                <ion-button color="tertiary">Aqua</ion-button>

            </ion-card>
        </ion-col>     
    </ion-row>

    <ion-row class="ion-justify-content-center">
        <ion-col size="12">
            <h1>Pokemon que ele mais odeia</h1>    
            <ion-item>  
                <ion-label><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9Dmw-hi0aki_Xqa37ybc8v3ajo6Ei9IXlshf7O0RwzZJAyEnSCDqsk_bsQua1vhqTdjQ&usqp=CAU"></ion-label>
            </ion-item>

        </ion-col>
                               
    </ion-row>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-title>Direitos Reservados a Nal do Canal</ion-title>
    </ion-toolbar>
</ion-footer>